---
import { Card, CardContent, CardDescription, CardFooter, CardHeader, CardTitle } from '@/components/ui/card';
import Layout from '../layouts/Layout.astro';

import { getCollection } from 'astro:content';
import { Button } from '@/components/ui/button';
const posts = (await getCollection('products')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout title="Product Gallery">
	<div class="">
		<img src="/images/logo.png" alt="logo" class="w-64 h-64 rounded-lg shadow-xl mx-auto" />
	</div>
</Layout>
