---
import { Card, CardContent, CardDescription, CardFooter, CardHeader, CardTitle } from '@/components/ui/card';
import {Dialog, DialogContent, DialogDescription, DialogHeader, DialogTrigger, DialogTitle} from '@/components/ui/dialog';
import Layout from '../layouts/Layout.astro';

import { getCollection } from 'astro:content';
import { Button } from '@/components/ui/button';
const posts = (await getCollection('products')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout title="Product Gallery">
	<div class="max-w-7xl mx-auto pt-6">
		<Dialog>
			<DialogTrigger>Open</DialogTrigger>
			<DialogContent>
			  <DialogHeader>
				<DialogTitle>Are you sure absolutely sure?</DialogTitle>
				<DialogDescription>
				  This action cannot be undone. This will permanently delete your account
				  and remove your data from our servers.
				</DialogDescription>
			  </DialogHeader>
			</DialogContent>
		  </Dialog>
	</div>
</Layout>
