---
import { SITE_TITLE } from '../consts';
import { Button } from './ui/button';
import { NavigationMenu, NavigationMenuContent, NavigationMenuItem, NavigationMenuLink, NavigationMenuList, NavigationMenuTrigger } from './ui/navigation-menu';

const components: { title: string; href: string; description: string }[] = [
  {
    title: "Alert Dialog",
    href: "/docs/primitives/alert-dialog",
    description:
      "A modal dialog that interrupts the user with important content and expects a response.",
  },
  {
    title: "Hover Card",
    href: "/docs/primitives/hover-card",
    description:
      "For sighted users to preview content available behind a link.",
  },
  {
    title: "Progress",
    href: "/docs/primitives/progress",
    description:
      "Displays an indicator showing the completion progress of a task, typically displayed as a progress bar.",
  },
  {
    title: "Scroll-area",
    href: "/docs/primitives/scroll-area",
    description: "Visually or semantically separates content.",
  },
  {
    title: "Tabs",
    href: "/docs/primitives/tabs",
    description:
      "A set of layered sections of content—known as tab panels—that are displayed one at a time.",
  },
  {
    title: "Tooltip",
    href: "/docs/primitives/tooltip",
    description:
      "A popup that displays information related to an element when the element receives keyboard focus or the mouse hovers over it.",
  },
]
---

<header class="shadow-sm py-3">
    <nav class="mx-auto max-w-7xl text-center space-x-3">
        <!-- <img src="/images/logo.png" class="inline-block h-8 rounded-full" alt="Logo"> -->
        <h1 class="text-sm font-bold text-gray-800 tracking-tighter pb-2">HKCL Prints 3D</h1>
        <a href="/">
            <Button variant="outline">Home</Button></a>
        <!-- <a href="/about">
            <Button variant="outline">About</Button></a> -->
        <a href="/products">
            <Button variant="outline">Products</Button></a>
        <a href="/blog">
            <Button variant="outline">Blog</Button></a>
        <!-- <a href="/contact">
            <Button variant="outline">Contact</Button></a> -->
    </nav>
</header>