---

import Layout from '@/layouts/Layout.astro';

import { getCollection } from 'astro:content';
import { AccordionWrapper } from '@/components/Category.jsx';
const products = (await getCollection('products')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

/**
 * Groups an array of products by their category.
 *
 * @param {Array} products - The array of products to group.
 * @returns {Object} An object with keys representing each category and values representing an array of products in that category.
 */
function groupByCategory(products) {
	return products.reduce((acc, product) => {
		const category = product.data.category || 'Uncategorized';
		if (!acc[category]) {
			acc[category] = [];
		}
		acc[category].push(product);
		return acc;
	}, {});
}


const groupedProducts = groupByCategory(products);
const accordionItems = Object.entries(groupedProducts).map(([category, products]) => ({
	value: category,
	title: category,
	content: products,
}));
---

<Layout title="Product Gallery">
	<div class="px-4 space-y-8">
		<AccordionWrapper items={accordionItems} client:load/>
	</div>
</Layout>
